@media only screen {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0; }
  footer {
    border-top: 1px solid #FF4100; }
  @font-face {
    font-family: HellixBold;
    src: url(../fonts/Hellix-Bold.eot); }
  @font-face {
    font-family: Hellix Bold;
    src: url(../fonts/Hellix-Bold.otf); }
  @font-face {
    font-family: HellixLight;
    src: url(../fonts/Hellix-Light.eot); }
  @font-face {
    font-family: Hellix Light;
    src: url(../fonts/Hellix-Light.otf); }
  @font-face {
    font-family: HellixMedium;
    src: url(../fonts/Hellix-Medium.eot); }
  @font-face {
    font-family: Hellix Medium;
    src: url(../fonts/Hellix-Medium.otf); }
  @font-face {
    font-family: HellixRegular;
    src: url(../fonts/Hellix-Regular.eot); }
  @font-face {
    font-family: Hellix Regular;
    src: url(../fonts/Hellix-Regular.otf); }
  html, body {
    text-align: left;
    font-family: HellixRegular, Hellix Regular; }
  a {
    text-decoration: none;
    color: #FF4100; }
  header a {
    color: white; }
  footer a {
    color: black; }
  .headr, .entroll, .quantity {
    color: white; }
  p.author {
    font-weight: bold; }
  .orange {
    color: #FF4100; }
  .grey {
    font-family: HellixLight, Hellix Light; }
  .partners, .who {
    text-align: center; }
  .clear_button, .orange_button {
    font-family: HellixRegular, Hellix Regular;
    color: white; }
  .button_orange {
    font-family: HellixRegular, Hellix Regular;
    color: #FF4100; }
  ::-webkit-input-placeholder {
    color: black;
    font-family: HellixRegular, Hellix Regular; }
  -moz-placeholder-color: black;
  -moz-placeholder-font-family: HellixRegular, Hellix Regular;
  ::-moz-placeholder {
    color: black;
    font-family: HellixRegular, Hellix Regular; }
  -ms-input-placeholder-color: black;
  -ms-input-placeholder-font-family: HellixRegular, Hellix Regular;
  ::-ms-input-placeholder {
    color: black;
    font-family: HellixRegular, Hellix Regular; }
  .headr {
    background-image: url(../img/2_1.jpg);
    background-size: 100% 100%; }
  .whatdo, blockquote, .meetings, .signup, footer {
    background-color: #F1E3E5; }
  .reviews, .yourway, .partners {
    background-color: white; }
  .quantity, .entroll {
    background-color: #272431; }
  .entroll, blockquote.review {
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px; }
  .clear_button {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0); }
  .orange_button {
    border: 1px solid #FF4100;
    background: #FF4100; }
  .button_orange {
    border: 1px solid #FF4100;
    background: rgba(0, 0, 0, 0); }
  input, select {
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  article.whatdo, div.whatdo, header.who, blockquote.review, p.quantity, article.yourway {
    display: inline-block;
    vertical-align: top; }
  .quotes, .quote {
    dislay: inline-block; }
  .logo, .quotes {
    float: left; }
  .login_signup {
    float: right; }
  .quote {
    float: right;
    width: 96%; }
  .rpaexpress {
    clear: both; }
  blockquote {
    margin: 0; }
  .blackwhite {
    vertical-align: middle; }
  .partners img {
    filter: grayscale(100%) brightness(120%); }
  .grey_network {
    filter: grayscale(100%) brightness(120%); } }

@media only screen and (min-width: 700px) {
  .clear_button, .orange_button, .button_orange {
    padding: 0 30px; }
  .headr, section.whatdo, section.reviews, section.quantity,
  section.yourway, section.partners {
    padding: 3% 10%; }
  section.meetings {
    padding: 0 10%;
    overflow: hidden; }
  section.signup {
    padding: 3% 10% 10%; }
  a.login {
    padding: 0 30px 0 0; }
  .rpaexpress {
    width: 50%;
    padding: 100px 0; }
  article.whatdo, div.whatdo {
    width: 30%;
    padding: 30px 10px;
    margin: 0; }
  .reviews article {
    padding: 1%; }
  header.who {
    width: 30%; }
  blockquote.review {
    width: 60%;
    margin: 70px 0 0 0; }
  p.quantity {
    width: 24%; }
  .meeting {
    width: 35%;
    padding: 15% 0 15% 5%;
    float: left; }
  .pic {
    float: right; }
  .partners img {
    margin: 20px; }
  .pct {
    height: 30px;
    margin: 7px 0; }
  select.pct {
    height: 36px; }
  .hundred {
    width: 100%; }
  .fifty {
    width: 48%; }
  .left {
    margin-right: 1%; }
  .checkboxs {
    float: left;
    margin: 10px 0; }
  .signmeup {
    float: right;
    margin: 20px 0 0; }
  footer {
    padding: 0.5% 10%;
    overflow: hidden; }
  .footr, .links {
    display: inline-block; }
  .footr {
    float: left;
    width: 80%; }
  .links {
    float: right;
    width: 15%;
    margin: 1%; }
  .grey_network {
    padding-left: 15%; }
  img.dohow {
    max-width: 50px;
    max-height: auto; }
  .who img {
    max-width: 200px;
    max-height: auto; }
  .partners img {
    max-width: 100px;
    max-height: auto; }
  .grey_network {
    max-width: 20px;
    max-height: auto; } }

@media only screen and (min-width: 700px) {
  html, body {
    font-size: 20px; }
  .texth1 {
    font-size: 2.625rem; }
  h2, .texth2 {
    font-size: 1.3rem; }
  p.author {
    font-size: 1.1rem; }
  .clear_button, .orange_button, .button_orange {
    font-size: 1rem; }
  .clear_button, .orange_button, .button_orange {
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    height: 60px; }
  blockquote.review {
    padding: 3%; }
  article.yourway {
    width: 49%; } }

@media only screen and (min-width: 1000px) {
  html, body {
    font-size: 16px; }
  .texth1 {
    font-size: 2.625rem; }
  h2, .texth2 {
    font-size: 1.625rem; }
  p.author {
    font-size: 1.125rem; }
  .clear_button, .orange_button, .button_orange {
    font-size: 1rem; }
  .clear_button, .orange_button, .button_orange {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    height: 40px; }
  blockquote.review {
    padding: 2%; }
  article.yourway {
    width: 33%; } }
