//set fonts
//IE
@font-face{
 font-family: HellixBold;
 src: url(../fonts/Hellix-Bold.eot);
}
 
//остальные браузеры
@font-face{
 font-family: Hellix Bold;
 src: url(../fonts/Hellix-Bold.otf);
}
 
//IE
@font-face{
 font-family: HellixLight;
 src: url(../fonts/Hellix-Light.eot);
}
 
//остальные браузеры
@font-face{
 font-family: Hellix Light;
 src: url(../fonts/Hellix-Light.otf);
}
 
//IE
@font-face{
 font-family: HellixMedium;
 src: url(../fonts/Hellix-Medium.eot);
}
 
//остальные браузеры
@font-face{
 font-family: Hellix Medium;
 src: url(../fonts/Hellix-Medium.otf);
}
 
//IE
@font-face{
 font-family: HellixRegular;
 src: url(../fonts/Hellix-Regular.eot);
}

//остальные браузеры
@font-face{
 font-family: Hellix Regular;
 src: url(../fonts/Hellix-Regular.otf);
}