footer{
 background-color: $light_grey;
 overflow: hidden;
}
  
.about_us, .links{
 display: inline-block;
}
  
.about_us{
 float: left;
 width: 70%
}
  
.links{
 float: right;
 width: 15%;
 padding-top: 2%;
}

//work with images of links
.links{
 img{
  max-width: 20px;
  max-height: auto;
  padding-left: 3%;
 }
}

.twitter{
 filter: grayscale(100%) brightness(60%);
}
 
.facebook{
 filter: grayscale(100%) brightness(100%);
}
 
.linkedin{
 filter: grayscale(100%) brightness(80%);
}