//general
html, body
 height: 100%
 margin: 0
 padding: 0
 
footer
 border-top: 1px solid #FF4100
//-----------------------------------------------------------------------------
//text
//set fonts
//IE
@font-face
 font-family: HellixBold;
 src: url(../fonts/Hellix-Bold.eot);
 
//остальные браузеры
@font-face
 font-family: Hellix Bold;
 src: url(../fonts/Hellix-Bold.otf);
 
//IE
@font-face
 font-family: HellixLight;
 src: url(../fonts/Hellix-Light.eot);
 
//остальные браузеры
@font-face
 font-family: Hellix Light;
 src: url(../fonts/Hellix-Light.otf);
 
//IE
@font-face
 font-family: HellixMedium;
 src: url(../fonts/Hellix-Medium.eot);
 
//остальные браузеры
@font-face
 font-family: Hellix Medium;
 src: url(../fonts/Hellix-Medium.otf);
 
//IE
@font-face
 font-family: HellixRegular;
 src: url(../fonts/Hellix-Regular.eot);
 
//остальные браузеры
@font-face
 font-family: Hellix Regular;
 src: url(../fonts/Hellix-Regular.otf);
 
html, body
 text-align: left
 font-family: HellixRegular, Hellix Regular

a
 text-decoration: none
 color: orange

header a
 color: white
 
footer a
 color: black

.texth1
 font-size: 42px
 
h2, .texth2
 font-size: 26px

.headr, .entroll, .quantity
 color: white
 
p.author
 font-size: 18px
 font-weight: bold
 
.orange
 color: #FF4100
 
.grey
 font-family: HellixLight, Hellix Light
 
.partners, .who
 text-align: center
 
.clear_button, .orange_button
 font-family: HellixRegular, Hellix Regular
 color: white
//----------------------------------------------------------------------------- 
//background
.headr
 background-image: url(../img/2_1.jpg)
 background-size: 100% 100%;
 
.whatdo, blockquote, .meeting, .signup, footer
 background-color: #F1E3E5
 
.reviews, .yourway, .partners
 background-color: white
 
.quantity, .entroll
 background-color: #272431
 
.entroll, blockquote.review
 -moz-border-radius: 38px; /* Firefox <=4 */
 -webkit-border-radius: 38px; /* Chrome < 4, Safari < 5, iOS */
 border-radius: 38px;
 
.clear_button
 border: 1px solid white
 background: rgba(0, 0, 0, 0);
 -moz-border-radius: 18px; /* Firefox <=4 */
 -webkit-border-radius: 18px; /* Chrome < 4, Safari < 5, iOS */
 border-radius: 18px;
 height: 40px
 padding: 0 30px
 
.orange_button
 border: 1px solid #FF4100
 background: #FF4100
 -moz-border-radius: 18px; /* Firefox <=4 */
 -webkit-border-radius: 18px; /* Chrome < 4, Safari < 5, iOS */
 border-radius: 18px;
 height: 40px
 padding: 0 30px
//-----------------------------------------------------------------------------
//positioning

//general

.headr, section.whatdo, section.reviews, section.quantity,
section.yourway, section.meeting, section.partners,
section.signup
 padding: 3% 10%
 
blockquote
 margin: 0

//header
.login_signup
 float: right

//whatdo
article.whatdo, div.whatdo
 display: inline-block;
 width: 30%
 
.entroll
 padding: 30px

//reviews
.reviews article
 padding: 2%

header.who
 display: inline-block
 width: 30%

blockquote.review
 padding: 2%
 display: inline-block
 width: 60%

//numeric data
p.quantity
 display: inline-block;
 width: 24%
 
//yourway
article.yourway
 display: inline-block;
 width: 33%

//meeting
/*.meeting
 height: 500px*/
.pic
 display: block

//partners
.partners img
 margin: 20px

//signup

//footer
footer
 padding: 0.5% 10%
//----------------------------------------------------------------------------- 
//work with images
img.dohow
 max-width: 50px
 max-height: auto
 
.who img
 max-width: 200px
 max-height: auto
 
.partners img
 max-width: 100px
 max-height: auto
 filter: grayscale(100%) brightness(120%)
